# dependencies
node_modules

# python
.venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache

# sst
.sst
sst-env.d.ts
backend/sst.pyi

# ide
.vscode/

# tmp files
.#*

# env
.env*.local
.env

# opennext
.open-next

# generated
apps/web/lib/client/

# evals output
backend/*_evaluation.json

# misc
.DS_Store
